.rushleftin::-webkit-scrollbar { width: 2px; }
.rushleftin::-webkit-scrollbar-track { background: #eee; }
.rushleftin::-webkit-scrollbar-track-piece { background: #eee; }
.rushleftin::-webkit-scrollbar-thumb { background: #ddd; }
.rushrightin::-webkit-scrollbar { width: 2px; }
.rushrightin::-webkit-scrollbar-track { background: #eee; }
.rushrightin::-webkit-scrollbar-track-piece { background: #eee; }
.rushrightin::-webkit-scrollbar-thumb { background: #ddd; }
.rushall {
 width: 504px;
 height: auto;
 padding: 5px;
 background: #fafafa;
 border: 1px solid #ddd;
 border-radius: 3px;
 line-height: 100%;
 position: relative;
}
.rushard {
 width: 422px;
 height: auto;
 padding: 40px;
 background: #fff;
 border: 1px solid #ddd;
 border-radius: 3px;
 background-image: url(https://k.nickpic.host/BGt30X.png);
}
.rushpost {
 width: 360px;
 height: auto;
 min-height: 100px;
 padding: 30px;
 background: #fafafa;
 border: 1px solid #ddd;
 border-radius: 3px;
 text-align: justify;
 font-family: poppins;
 font-size: 11px;
 line-height: 18px;
 color: #333;
}
.rushpost h1 {
 text-align: right;
 font-size: 26px;
 padding-bottom: 5px;
 border-bottom: 1px solid #ddd;
}
.rushpost i {
  border-radius: 3px;
  padding: 0px 3px;
}
.rushpost blockquote {
 margin-left: 10px;
 padding-left: 10px;
 margin-right: 10px;
 border-left: 1px solid #ddd;
}
.rushfac {
 width: 360px;
 height: auto;
 min-height: 100px;
 padding: 30px;
 margin-top: 20px;
 background: #fafafa;
 border: 1px solid #ddd;
 border-radius: 3px;
 text-align: justify;
 font-family: poppins;
 font-size: 11px;
 line-height: 18px;
 color: #333;
}
.rushfac h2 {
 text-align: left;
 font-size: 23px;
 padding-bottom: 5px;
 border-bottom: 1px solid #ddd;
}
.rushfac h3 {
 text-align: right;
 font-size: 23px;
 padding-bottom: 5px;
 border-bottom: 1px solid #ddd;
}
.rushfac i {
  border-radius: 3px;
  padding: 0px 3px;
}
.rushtbl {
 width: 360px;
 height: 100px;
 overflow: auto;
 padding: 3px;
 background: #fff;
 border: 1px solid #ddd;
 border-radius: 3px;
 text-align: justify;
 font-family: poppins;
 font-size: 11px;
 line-height: 18px;
 color: #333;
}
.rushleft {
 vertical-align: top;
}
.rushleftin {
 width: 150px;
 height: 200px;
 padding: 10px;
 overflow: auto;
}
.rushright {
 vertical-align: top;
}
.rushrightin {
 width: 150px;
 height: 200px;
 padding: 10px;
 overflow: auto;
}
.rushtagsbg {
  width: 410px;
  height: auto;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 40px;
}
.rushtags {
  width: 390px;
  height: auto;
  padding: 10px;
  background: #fafafa;
  border-radius: 3px;
}
.rushtags p {
 display: inline-block;
 border-radius: 15px;
 padding: 1px 5px;
 margin-left: 2px;
 margin-right: 2px;
 font-family: poppins;
 font-size: 9px;
 line-height: 18px;
 color: #333;
}
.rushtags p a {
  color: #333;
  text-decoration: none;
}
