/** CODED BY SCARLETT FOR FAE **/


@font-face {
  font-family: 'typicons';
  src: url("https://files.jcink.net/uploads/scarlettcodes/typicons.eot");
  src: url("https://files.jcink.net/uploads/scarlettcodes/typicons.eot?#iefix") format('embedded-opentype'),
       url("https://files.jcink.net/uploads/scarlettcodes/typicons.woff") format('woff'),
       url("https://files.jcink.net/uploads/scarlettcodes/typicons.ttf") format('truetype'),
       url("https://files.jcink.net/uploads/scarlettcodes/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

.faethr1-1a {
 width: 304px;
 height: auto;
 padding: 10px;
 background: #fafafa;
 line-height: 100%;
}
.faethr1-1b {
 width: 262px;
 height: auto;
 padding: 20px;
 background: #fefefe;
 border: 1px solid #ddd;
}
.faethr1-2a {
 width: 258px;
 height: 158px;
 padding-top: 30px;
}
.faethr1-2a img {
 width: 180px;
 height: 110px;
 padding: 10px;
 object-fit: cover;
}
.faethr1-3a {
 width: 220px;
 height: auto;
 padding: 20px;
 margin-top: 20px;
 background: #fff;
 border: 1px solid #eee;
 border-bottom: 0;
 font-family: poppins;
 font-size: 11px;
 line-height: 18px;
 text-align: justify;
 color: #333;
}
.faethr1-3a b {
 font-size: 13px;
}
.faethr1-3a i {
 padding: 0 3px;
}
.faethr1-3b {
 width: 262px;
 height: auto;
 padding: 10px 0;
 color: #fff;
 font-family: poppins;
 font-size: 13px;
 line-height: 20px;
 text-align: center;
}
.faethr1-3b a {
 text-decoration: none;
 color: #fff;
}
.faethr1-3b .typcn {
 font-size: 20px;
}
.faethr2-1a {
 width: 304px;
 height: auto;
 padding: 10px;
 background: #fafafa;
 line-height: 100%;
}
.faethr2-1b {
 width: 262px;
 height: auto;
 padding: 20px;
 background: #fefefe;
 border: 1px solid #ddd;
}
.faethr2-2a {
 width: 258px;
 height: 158px;
 padding-top: 30px;
}
.faethr2-2a img {
 width: 110px;
 height: 110px;
 padding: 10px;
 border-radius: 100%;
 object-fit: cover;
}
.faethr2-3a {
 width: 220px;
 height: auto;
 padding: 20px;
 margin-top: 20px;
 background: #fff;
 border: 1px solid #eee;
 border-bottom: 0;
 font-family: poppins;
 font-size: 11px;
 line-height: 18px;
 text-align: justify;
 color: #333;
}
.faethr2-3a b {
 font-size: 13px;
}
.faethr2-3a i {
 padding: 0 3px;
}
.faethr2-3b {
 width: 262px;
 height: auto;
 padding: 10px 0;
 color: #fff;
 font-family: poppins;
 font-size: 13px;
 line-height: 20px;
 text-align: center;
}
.faethr2-3b a {
 text-decoration: none;
 color: #fff;
}
.faethr2-3b .typcn {
 font-size: 20px;
}
.faereq-1a {
 width: 372px;
 height: auto;
 padding: 10px;
 background: #fafafa;
 line-height: 100%;
}
.faereq-1b {
 width: 330px;
 height: auto;
 padding: 20px;
 background: #fefefe;
 border: 1px solid #ddd;
}
.faereq-2a {
 width: 270px;
 height: auto;
 padding: 80px 30px;
 font-family: poppins;
 font-size: 25px;
 line-height: 26px;
 font-weight: 800;
 color: #fff;
 letter-spacing: 1px;
}
.faereq-2b {
 width: 288px;
 height: auto;
 padding: 20px;
 background: #fff;
 border: 1px solid #eee;
 border-top: 0;
 font-family: poppins;
 font-size: 11px;
 line-height: 15px;
 text-align: justify;
}
.faereq-2b b {
 font-size: 13px;
}
.faereq-2b i {
 padding: 0 3px;
}
.faereq-brk {
 width: 330px;
 height: 20px;
 border-bottom: 1px solid #eee;
}
.faereq-3a {
 width: 330px;
 height: auto;
 background: #fff;
 margin-top: 20px;
}
.faereq-3b {
 width: 310px;
 height: auto;
 padding: 10px;
 color: #fff;
 font-family: poppins;
 font-size: 13px;
 line-height: 20px;
 font-weight: 600;
 text-align: right; 
}
.faereq-3b .typcn {
 font-size: 20px;
 float: left;
}
.faereq-3c {
 width: 288px;
 height: auto;
 padding: 20px;
 border: 1px solid #eee;
 border-top: 0;
 font-family: poppins;
 font-size: 11px;
 line-height: 15px;
 text-align: justify;
}
.faereq-3c b {
 font-size: 13px;
}
.faereq-3c i {
 padding: 0 3px;
}
.faereq-4a {
 width: 330px;
 height: auto;
 background: #fff;
 margin-top: 20px;
}
.faereq-4b {
 width: 310px;
 height: auto;
 padding: 10px;
 color: #fff;
 font-family: poppins;
 font-size: 13px;
 line-height: 20px;
 font-weight: 600;
 text-align: left; 
}
.faereq-4b .typcn {
 font-size: 20px;
 float: right;
}
.faereq-4c {
 width: 288px;
 height: auto;
 padding: 20px;
 border: 1px solid #eee;
 border-top: 0;
 font-family: poppins;
 font-size: 11px;
 line-height: 15px;
 text-align: justify;
}
.faereq-4c b {
 font-size: 13px;
}
.faereq-4c i {
 padding: 0 3px;
}

.fae-comm-05::-webkit-scrollbar { width: 3px; }
.fae-comm-05::-webkit-scrollbar-track { background: #fefefe; }
.fae-comm-05::-webkit-scrollbar-track-piece { background: #fefefe; }
.fae-comm-05::-webkit-scrollbar-thumb { background: #eee; }

.fae-comm-01 {
 width: 230px;
 height: 500px;
 background: #fafafa;
 border-radius: 20px;
 line-height: 100%;
}
.fae-comm-01-1 {
 width: 100px;
 height: 2px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin-top: 15px;
}
.fae-comm-02 {
 width: 230px;
 height: 403px;
 background: #fefefe;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 margin-top: 15px;
}
.fae-comm-03 {
 width: 210px;
 height: auto;
 padding: 3px 10px 3px 10px;
 background: #fefefe;
 font-size: 13px;
 text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff; 
}
.fae-comm-03 left { float: left; }
.fae-comm-03 right { float: right; }
.fae-comm-04 {
 width: 210px;
 height: auto;
 padding: 15px 10px;
}
.fae-comm-04-tbl {
 width: 210px;
 height: auto;
}
.fae-comm-04-1 {
 width: 80px;
 height: 80px;
}
.fae-comm-04-2 {
 width: 130px;
 height: 80px;
 text-align: center;
}
.fae-comm-04 img {
 width: 70px;
 height: 70px;
 border-radius: 100%;
 padding: 5px;
 border: 1px solid #ddd;
 object-fit: cover;
}
.fae-comm-04 them {
 font-family: poppins;
 font-size: 13px;
 color: #fff;
 line-height: 30px;
}
.fae-comm-04 you {
 font-family: poppins;
 font-size: 20px;
 font-weight: 500;
 color: #fff;
}
.fae-comm-05 {
 width: 200px;
 height: 215px;
 padding: 10px 5px 15px 15px;
 font-family: poppins;
 font-size: 11px;
 color: #666;
 overflow: auto;
}
.fae-comm-05 p {
 height: auto;
 max-width: 170px;
 padding: 7px;
 float: right;
 clear: both;
 margin: 3px 0;
 background: #fff;
 border: 1px solid #ddd;
 border-radius: 10px;
 border-top-right-radius: 0;
 text-align: justify;
}
.fae-comm-05 p img {
 max-width: 155px; 
}
.fae-comm-06 {
 width: 210px;
 height: 19px;
 padding: 0 10px 0 10px;
 font-family: poppins;
 font-size: 10px;
 text-align: left;
 line-height: 31px;
 letter-spacing: 1px;
 border-top: 1px solid #ddd;
 text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff; 
}
.fae-comm-06 right {
 float: right;
 font-size: 15px;
 line-height: 29px;
}
.fae-comm-07 {
 width: 30px;
 height: 30px;
 border: 1px solid #ddd;
 border-radius: 100%;
 margin-top: 25px;
}
