@font-face { 
font-family: "signerica"; 
src: url('https://files.jcink.net/uploads/scarlettcodes/Signerica_Medium.ttf'); 
}

.gen01-all {
  line-height: 100%;
}
.gen01-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.gen01-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.gen01-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.gen01-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.gen01-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 11px;
  color: #aaa;
  line-height: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.gen01-3 b {
  color: var(--mg7);
  font-weight: 600;
}
.gen01-3 i {
  color: #bbb;
  font-style: italic;
}
.gen01-3 h1 {
  display: block;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  font-family: signerica;
  color: var(--mg7);
  border-bottom: 1px dotted #e7e7e7;
}
.gen01-3 a {
  color: var(--mg7) !important;
  font-weight: bold;
}

.gentrck01-all {
  line-height: 100%;
}
.gentrck01-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.gentrck01-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.gentrck01-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.gentrck01-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.gentrck01-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 11px;
  color: #aaa;
  line-height: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.gentrck01-3 b {
  display: block;
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  color: var(--mg7);
  border-bottom: 1px dotted #e7e7e7;
}
.gentrck01-3 s {
  color: #ddd;
}
.gentrck01-3 i {
  color: var(--mg7);
  font-size: 9px;
  font-style: normal;
}
.gentrck01-3 a {
  color: var(--mg7) !important;
  font-weight: bold;
}

.gentrck02-all {
  line-height: 100%;
}
.gentrck02-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.gentrck02-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.gentrck02-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.gentrck02-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.gentrck02-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 11px;
  color: #aaa;
  line-height: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.gentrck02-3 b {
  display: block;
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  color: var(--mg7);
  border-bottom: 1px dotted #e7e7e7;
}
.gentrck02-3 s {
  color: #ddd;
}
.gentrck02-3 i {
  color: var(--mg7);
  font-size: 9px;
  font-style: normal;
}
.gentrck02-3 a {
  color: var(--mg7) !important;
  font-weight: bold;
}

.trcksml01-all {
  line-height: 100%;
}
.trcksml01-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.trcksml01-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.trcksml01-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.trcksml01-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.trcksml01-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 13px;
  color: #aaa;
  line-height: 16px;
  text-align: center;
  text-transform: lowercase;
}

.fcs01-all {
  line-height: 100%;
}
.fcs01-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.fcs01-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.fcs01-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.fcs01-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.fcs01-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 11px;
  color: #aaa;
  line-height: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.fcs01-3 b {
  color: var(--mg7);
  font-weight: 600;
}
.fcs01-3 i {
  color: #bbb;
  font-style: italic;
}
.fcs01-3 h1 {
  display: block;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  font-family: signerica;
  color: var(--mg7);
  border-bottom: 1px dotted #e7e7e7;
}
.fcs01-3 a {
  color: var(--mg7) !important;
  font-weight: bold;
}

.todo01-all {
  line-height: 100%;
}
.todo01-1 {
  width: 375px;
  height: auto;
  padding: 50px 25px 25px 0px;
  background: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  text-align: right;
}
.todo01-1 main {
  font-family: signerica;
  font-style: italic;
  font-size: 35px;
  line-height: 10px;
  color: var(--mg7);
  text-shadow: 2px 0px 0 #fff, -2px 0px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.todo01-1 small {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 11px;
  color: #ccc;
  margin-right: 5px;
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff;
}
.todo01-2 {
  width: 330px;
  height: auto;
  padding: 35px;
  background: #fefefe;
  border: 1px solid #e7e7e7;
}
.todo01-3 {
  width: 278px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  font-family: libre franklin;
  font-weight: 300;
  font-size: 12px;
  color: #aaa;
  line-height: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.todo01-3 b {
  display: block;
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
  color: var(--mg7);
  border-bottom: 1px dotted #e7e7e7;
}
.todo01-3 s {
  color: #ddd;
}
.todo01-3 i {
  color: var(--mg7);
  font-style: normal;
}
.todo01-3 a {
  color: var(--mg7) !important;
  font-weight: bold;
}
