.lightoutlawall {
 width: 310px;
 height: auto;
 padding: 30px;
 line-height: 100%;
}
.lightoutlaward {
 width: 250px;
 height: auto;
 padding: 90px 30px 30px 30px;
 background-color: #dedede;
 overflow: hidden;
}
.lightoutlawin {
 width: 248px;
 height: auto;
 border: 1px solid #ccc;
 background-color: #eee;
}
.lightoutlawpic {
 width: 120px;
 height: 120px;
 position: relative;
 top: -60px;
}
.lightoutlawpic img {
 width: 80px;
 height: 80px;
}
.lightoutlawthr {
 width: 220px;
 height: auto;
 padding: 0px 15px;
 position: relative;
 top: -20px;
 font-family: raleway;
 font-size: 11px;
 line-height: 15px;
 text-align: justify;
 color: #666;
 font-weight: 500;
}
.lightoutlawthr b {
  font-size: 13px;
  color: #333;
}
.lightoutlawthr i {
  color: #333;
}
