  .darkscarthrall {
    width: 310px;
    height: auto;
    padding: 30px;
    /*background-color: #fbfbfb;*/
    line-height: 100%;
  }
  .darkscarthrard {
    width: 310px;
    height: auto;
    background-color: #333;
    /*border: 1px solid #eee;*/
  }
  .darkscarthrpic {
    width: 130px;
    height: 130px;
  }
  .darkscarthrpic img {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
  }
.darkscarthrpicbor {
  position: relative;
  top: 25px;
  width: 130px;
  height: 130px;
}
.darkdarkscarthrpicplc {
 width: 308px;
 height: 180px;
}
.darkscarthrin {
 width: 248px;
 height: auto;
 padding: 30px;
 font-family: raleway;
 font-size: 11px;
 line-height: 15px;
 text-align: justify;
 color: #aaa;
 font-weight: 500;
}
.darkscarthrin b {
 font-weight: 700;
 font-size: 13px;
 padding-bottom: 1px;
 padding-top: 1px;
}
</style>
